.App {
  text-align: center;
  background-color: #eefde0 !important;
  height: 100%;
}
#hero-content {
  padding: 15px;
  font-weight: 700;
  font-size: 26px;
  width: 40%;
  text-align: left;
  margin-left: 6%;
}
@media only screen and (max-width: 767px) {
  #background-image {
    display: none;
  }
  #hero-side-image {
    height: 80px;
  }
  #hero-content {
    padding: 10px;
    font-weight: 700;
    font-size: 23px;
    width: 100%;
  }
  #hero-side-div {
    padding: 10px;
  }
  #hero-image {
    height: 230px;
  }
  #nav-main {
    margin: 0 !important;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.google {
  border-top-left-radius: 32px !important;
  border-bottom-left-radius: 32px !important;
  background-color: #08f820;
}

.form-control:focus {
  background-color: #08f820;

  outline: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.form-control {
  background-color: #08f820;
  width: 60px;
  border-right: 0 !important;
  border-left: 0 !important;
}
